
.container {
    margin: 15px;
    max-width: 600px;
}

.card-body {
    margin: 0;
}

.btn-block {
    font-weight: bold;
}

.buttonrow button {
   margin-right:  5px;
}

.card {
    margin: 0px;
    width: 375px;
}


h1 {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 2rem;
}

li.list-group-item {
    padding: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 0;
  }

  ul {
    margin-left: 30px;
    flex-wrap: wrap;
}